:root {}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Solway&display=fallback');

* {
    box-sizing: border-box;
  }

body {
  color:rgb(50, 104, 145);
  font-family: 'Lato', sans-serif;
  background-color:rgba(50, 104, 145, 0.1);
}

.container-fluid {
  /* width: 800px; */
  margin-top: 20px;
  border: 1px solid red;
} 

.weather-header {
  background-color:rgb(50, 104, 145);
 }


form {
  /* border: 1px solid red; */
}

input[type="text"]:focus {
  /* background-color: white !important; */
  color: rgb(50, 104, 145) !important;
  /* box-shadow: none;  */
}

input:-internal-autofill-selected {
  background-color: white !important;
  color: rgb(50, 104, 145) !important;
  color: red !important;
  /* box-shadow: none;  */
}







/* input {
  color:rgb(50, 104, 145);
} */

.btn{
  /* border: 1px solid gray; */
}

/* Google Icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

hr {
  background-color: green;
}

aside{
  border: 1px solid green;
}

#search-button {
  background-color:rgba(50, 104, 145, 0.2);
  color: white;
}

#history button {
  background-color:rgba(50, 104, 145, 0.5);
  color: white;
}

/* for cities not in ProperCase */
.titlecase 
{
    text-transform: capitalize;
}

.weatherIcon {}


.card {
  background-color:rgba(50, 104, 145, 0.7)
}

#day00{
  background-color:white;
}

.countryID {
  font-size: 12px;
  color: rgba(50, 104, 145, 0.5);
}

#forecast {
  color: white;
}

#forecast legend {
  color:rgba(50, 104, 145)
}





















 /* ================= RESPONSIVE MEDIA QUERIES ================= */

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

} 

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}